.bir{
    background-color: lightskyblue !important;
}
.ikki{
    background-color: pink !important;
}
.uch{
    background-color: lightseagreen !important;
}
.tort{
     background-color: lightblue !important;
 }
.besh{
    background-color: white !important;
}
.oxiri1{
    margin-left: 180px;
    float: left;
}
.oxiri2{
    float: left;
    margin-left: 10px;
}